@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
  font-size: 12px;
  background-color: dodgerblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container.main {
  font-family: 'Roboto', sans-serif;
  
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.container.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 2fr;
  align-items: start;

  height: max(65vh, 600px);
  background-color: dodgerblue;
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.container.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  display: grid;
  grid-template-columns: 2fr 1fr;

  background-color: white;
  padding: 1rem;
}

.container.main-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  background-color: #ccccff;
  padding: 1rem;
}

.container.sidebar > * {
  display: grid;
  padding-left: 20px;
}

.container.sidebar > div:not(:first-child) {
  gap: 22px;
}

div.sidebar .item {
  display: flex;
  gap: 16px;
  align-items: center;
}

div.sidebar .item .content {
  flex: 1;
}

div.sidebar .item.dashboard {
  font-size: 1.75rem;
  padding-top: 1rem;
}

.container.header > div:nth-child(1) {
  grid-column: 1 / 2;

  grid-template-columns: 1fr;
}

.container.header > div:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  display: flex;
  gap: 25px;
  justify-content: end;
  padding-right: 32px;
}

.container.header > div:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  display: flex;
  gap: 16px;
}

.container.header > div:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  display: flex;
  gap: 24px;
  justify-content: end;
  padding-right: 32px;
}

p.search-bar {
  display: flex;
  gap: 16px;
}

p.search-bar input {
  flex: 1;
  max-width: 750px;

  padding: 8px;
  border-radius: 10px;
  border-style: hidden;
  background-color: #ccccff;
}

p.search-bar button {
  border-style: hidden;
  background: none;
}

.container.upper-right > * {
  height: 50px;
  padding-top: 8px;
}

.container.upper-right > button.subscribe {
  aspect-ratio: 1 / 1;
  height: 30px;
  background: none;
  border-style: hidden;
  max-width: 50px;
}

.container.upper-right > button.profile-picture {
  aspect-ratio: 1 / 1;
  height: 30px;
  background: none;
  border-style: none;
  border-radius: 25px;
  max-width: 50px;
}

.container.upper-right > button:last-child {
  margin-top: -10px;
  padding-right: 12px;
  background: none;
  border-style: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.container.lower-right > button {
  max-height: 40px;
  min-width: 80px;
  background-color: dodgerblue;
  border-style: none;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 18px;
}

.container.lower-left > img,
.container.lower-left > div.greeting {
  display: block;
  font-weight: bold;
}

.container.lower-left > div.greeting {
  padding: 8px;
}

.container.lower-left p.user-name {
  font-size: 1.5rem;
  margin-top: 6px;
}

.container.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 50px 1fr 50px 1fr;
  gap: 16px;
}

.container.main-content > div.container {
  display: grid;
}

.container.title.projects {
  grid-column: 1 / 2;
}

.container.title.announcements {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.container.cards {
  grid-column: 1 / 2;
  grid-row: 2 / 5;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.container.announcements {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.container.title.trending {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.container.trending {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.container.card {
  border-left: 6px solid #ffcc00;
  display: grid;
}

.container.text {
  background-color: white;
  padding: 40px 30px;
  border-radius: 7px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
}

.container.text p {
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 1rem;
  color: #696969;

}

.container.card > p.content {
  font-size: 1.25rem;
}

.container.announcements.text {
  grid-template-rows: 1fr 1fr 1fr;
  padding-top: 0;
  padding-bottom: 0;
}

.container.announcement {
  border-bottom: 3px solid lightgray;
  padding-top: 40px;
  padding-bottom: 40px;
}

.container.announcement:last-child {
  border-bottom: none;
}

.wrapper.card.buttons {
  justify-self: end;
  align-self: end;
}

.wrapper.card.buttons > button:nth-child(2) {
  margin-left: 25px;
  margin-right: 25px;
}

.wrapper.card.buttons > button {
  border-style: none;
  background-color: white;
}

.container.trending.text {
  padding-top: 60px;
  gap: 20px;
}

.container.trending-user {
  display: grid;
  grid-template-columns: auto 1fr;
}

.container.trending-user > button {
  height: 50px;
  width: 50px;
  margin-right: 20px;
  border-radius: 25px;
  border-style: none;
  overflow: hidden;
}

.user-name > p.user-handle {
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 2px;
}

.user-name > p.user-description {
  padding-top: 2px;
}

.container.title {
  align-items: end;
}